# =======================
# MongoDB
# =======================
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/<dbname>?retryWrites=true&w=majority&appName=<your-cluster-name>

# Example:
# MONGO_URI=mongodb+srv://prince:SoloSparks123@solosparks-cluster.jp38yfy.mongodb.net/solosparks?retryWrites=true&w=majority&appName=solosparks-cluster

# =======================
# JWT Authentication
# =======================
JWT_SECRET=your_super_secure_jwt_secret
JWT_EXPIRE=30d

# =======================
# Cloudinary (for media upload)
# =======================
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# =======================
# Server Configuration
# =======================
PORT=5000
NODE_ENV=development
